a {
    text-decoration: none;
}

header.site-header {
    border-bottom: 2px solid #ddd;
}

nav.main-nav {
    border-right: 2px solid #ddd;
}

nav.main-nav ul {
    margin-top: 2.5em;
}

nav.main-nav ul li {
    list-style: none;
    cursor: pointer;
    transition: background-color 1s;
}

nav.main-nav ul li:hover,
nav.main-nav ul li.active {
    list-style: none;
    background-color: #1EAEDB;
}

nav.main-nav ul li a {
    margin-left: 3em;
    transition: color 1s;
}

nav.main-nav ul li:hover a,
nav.main-nav ul li.active a {
    color: white
}
