.player-name h4 {
    margin-bottom: 0;
}

.player-card {
    border: 1px solid #ccc;
    border-radius: 0.25em;
    margin: 1.5em auto;
    background-color: #efefef;
    text-align: center;
}

.player-card a {
    color: #666;
}

p.player-info-label {
    font-weight: bold;
}

.player-pic img {
    vertical-align: middle;
}

.player-team-name p {
    display: inline-block;
    font-size: 1.5em;
    margin-bottom: 0;
}

.player-controls {
    margin-top: 1.5em;
}

.player-controls div:nth-child(2) {
    float: right;
}

@media (min-width: 750px) {
    .player-pic {
        display: inline-block;
        vertical-align: middle;
    }
}