.player-name h4 {
    margin-bottom: 0;
}

.player-card {
    border: 1px solid #ccc;
    border-radius: 0.25em;
    margin: 1.5em auto;
}

.player-card div:nth-child(2) {
    background-color: #efefef;
}

p.player-info-label {
    font-weight: bold;
}

p.player-info-label,
p.player-info-text {
    margin-bottom: 1em;
}

.player-pic img {
    vertical-align: middle;
}

header.player-name {
    text-align: center;
    background-color: steelblue;
    color: white;
}

.player-pic {
    text-align: center;
}

@media (min-width: 750px) {
    .player-pic {
        display: inline-block;
        vertical-align: middle;
    }
    .player-info {
        width: 80%;
        display: inline-block;
        vertical-align: middle;
    }
}