<!DOCTYPE html>
<html lang="en">

<head>
    <title>Futbol project</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <header class="site-header">
            <h1>Futbol Project</h1>
        </header>
        <section class="row">
            <nav class="two columns main-nav">
                <ul>
                    <li>
                        <a href="/players">Players</a>
                    </li>
                    <li>
                        <a href="#">Teams</a>
                    </li>
                    <li>
                        <a href="#">Matches</a>
                    </li>
                </ul>
            </nav>
            <section class="ten columns">
                <div id="app">
                    <component :is="currentView"></component>
                </div>
            </section>
        </section>
    </div>
    <footer>

    </footer>

    <script data-main="scripts/app" src="lib/require.js"></script>
    <script type="text/x-template" id="player-list-template">
        <div id="player-list">
            <div class="container row player-controls">
                <div class="three columns">
                    <form v-on:submit.prevent="searchPlayer">
                        <input type="text" id="search-term" placeholder="Search Player">
                    </form>
                </div>
                <div class="three columns">
                    <a href="player" class="button button-primary">Add player</a>
                </div>
            </div>
            <player-card v-for="player in players" :key="player.id" :full-name="player.fullName" :team-name="player.teamName" :id-player="player.id">
            </player-card>
        </div>
    </script>
    <script type="text/x-template" id="player-card-template">
        <div class="container player-card">
            <div class="row">
                <div class="one column player-pic">
                    <img src="https://give.uwsp.edu/image/staff/default_member_image.png" width="100" alt="Player">
                </div>
                <div class="row">
                    <a v-on:click.prevent="navigateToPlayer" :href="'player/' + idPlayer">
                        <header class="player-name">
                            <h4>{{fullName}}</h4>
                        </header>
                        <div class="player-team-name info-detail">
                            <p class="player-info-label">Team:</p>
                            <p class="player-info-text">{{teamName}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="player-detail-template">
        <div class="player-detail">
            <div class="row">
                <div class="six columns player-image">
                    <h2>{{player.fullName}}</h2>
                    <img src="https://give.uwsp.edu/image/staff/default_member_image.png" width="300" alt="Player">
                </div>
                <div class="six columns">
                    <div class="row data-row">
                        <div class="six columns labels">
                            <label>Team: </label>
                        </div>
                        <div class="six columns values">
                            <input type="text" name="team-name" v-model="player.teamName" placeholder="Team name">
                        </div>
                    </div>
                    <div class="row data-row">
                        <div class="six columns labels">
                            <label>Position: </label>
                        </div>
                        <div class="six columns values">
                            <input type="text" name="position" v-model="player.position" placeholder="Position">
                        </div>
                    </div>
                    <div class="row data-row">
                        <div class="six columns labels">
                            <label>Shirt No: </label>
                        </div>
                        <div class="six columns values">
                            <input type="text" name="shirt-number" v-model="player.shirt" placeholder="Shirt Number">
                        </div>
                    </div>
                    <div class="row data-row">
                        <div class="six columns labels">
                            <label>Goals Scored: </label>
                        </div>
                        <div class="six columns values">
                            <input type="text" name="goals" v-model="player.goals" placeholder="Goals scored">
                        </div>
                    </div>
                    <div class="row data-row">
                        <div class="six columns labels">
                            <label>Fouls Commited: </label>
                        </div>
                        <div class="six columns values">
                            <input type="text" name="fouls" v-model="player.fouls" placeholder="Fouls commited">
                        </div>
                    </div>
                    <div class="row data-row">
                        <div class="six columns labels">
                            <label>Yellow cards: </label>
                        </div>
                        <div class="six columns values">
                            <input type="text" name="yellow-cards" v-model="player.yellowCard" placeholder="Yellow Cards">
                        </div>
                    </div>
                    <div class="row data-row">
                        <div class="six columns labels">
                            <label>Red Cards: </label>
                        </div>
                        <div class="six columns values">
                            <input type="text" name="red-cards" v-model="player.redCard" placeholder="Red Cards">
                        </div>
                    </div>
                    <div class="row buttons-row">
                        <button class="button-delete">Delete player</button>
                        <button class="button-primary">Save player</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
</body>

</html>